name: CI

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - 'docs/**'
      - '*.md'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '*.md'

jobs:
  test:
    uses: dancastillo/workflows/.github/workflows/review-test-automerge-ci.yml@main
